@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Asap, sans-serif
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    user-select: none;
}

p, span, h1, h2, h3, h4, h5, h6, p > *, h1 > *, h2 > *, h3 > *, h4 > *, h5 > *, h6 > * {
    user-select: text;
}

input, button, select, option {
    outline: unset !important;
}

.custom-scroll {
    width: 58px;
}

.custom-scroll::-webkit-scrollbar {
    position: fixed;
    width: 3px;
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-track {
    margin-inside: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 50px;
}

.bg-primary {
    background-image: linear-gradient(to right, #ef4444, #f59e0b);
}

.hover\:bg-primary:hover {
    background-image: linear-gradient(to right, #ef4444, #f59e0b);
}

.text-primary {
    background-image: -webkit-linear-gradient(45deg, #ef4444, #f59e0b);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hover\:text-primary:hover {
    background-image: -webkit-linear-gradient(45deg, #ef4444, #f59e0b);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.border-primary {
    border-image: linear-gradient(to left, #ef4444, #f59e0b) 10;
}

.hover\:border-primary:hover {
    border-image: linear-gradient(to left, #ef4444, #f59e0b) 10;
}

.bg-secondary {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
}

.hover\:bg-secondary:hover {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
}

.text-secondary {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hover\:text-secondary:hover {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.border-secondary {
    border-image: linear-gradient(to right, #7c3aed, #2563eb);
}

.hover\:border-secondary:hover {
    border-image: linear-gradient(to right, #7c3aed, #2563eb);
}