@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Asap, sans-serif
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    user-select: none;
}

p, span, h1, h2, h3, h4, h5, h6, p > *, h1 > *, h2 > *, h3 > *, h4 > *, h5 > *, h6 > * {
    user-select: text;
}

.p-truncate-9 {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.p-truncate-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


input, button, select, option, textarea {
    outline: unset !important;
}

input[type=range]::-webkit-slider-thumb {
    @apply w-6 h-6 appearance-none pointer-events-auto;
}

.custom-scroll {
    width: 58px;
}

.custom-scroll::-webkit-scrollbar {
    position: fixed;
    width: 3px;
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-track {
    margin-inside: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 50px;
}

.card {
    @apply mb-8 shadow-lg border border-gray-300 relative flex flex-col bg-white rounded
}

.card-body {
    @apply flex min-h-50 px-2 py-4
}

.card-header {
    @apply px-4 py-2 mb-0 border-b border-gray-300 rounded-t bg-gray-200
}

.card-footer {
    @apply rounded-b bg-gray-100 px-4 py-2 border-t border-gray-300
}

.modal {
    @apply fixed backdrop-filter backdrop-blur-sm bg-gray-600 bg-opacity-40 h-screen w-screen overflow-hidden top-0 left-0 z-100 px-4
}

.modal-header {
    @apply bg-gray-50 shadow w-full p-2
}

.modal-footer {
    @apply bg-gray-100 w-full p-2
}

.modal-title {
    @apply text-xl ml-2 mt-1
}

.custom-table {
    @apply min-w-full table-auto rounded-lg
}

.custom-table > thead {
    @apply justify-between;
}

.custom-table > thead > tr {
    @apply text-gray-200;
}

.custom-table > thead > tr > th {
    @apply text-center py-2 text-lg;
}

.custom-table > tbody > tr {
    @apply bg-gray-200 text-center
}

.custom-table > tbody > tr {
    @apply bg-white border-4 border-gray-200;
}

.custom-table > tbody > tr > td {
    @apply py-2;
}