@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Asap, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
select,
option,
textarea {
    outline: unset !important;
    width: inherit;
}


