@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Asap, sans-serif
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    user-select: none;
}

p, span, h1, h2, h3, h4, h5, h6, p > *, h1 > *, h2 > *, h3 > *, h4 > *, h5 > *, h6 > * {
    user-select: text;
}

input, button, select, option, textarea {
    outline: unset !important;
}

.custom-scroll {
    width: 58px;
}

.custom-scroll::-webkit-scrollbar {
    position: fixed;
    width: 3px;
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-track {
    margin-inside: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 50px;
}

.bg-primary {
    @apply bg-gradient-to-r from-red-500 to-yellow-500
}

.hover\:bg-primary:hover {
    @apply bg-gradient-to-r from-red-500 to-yellow-500
}

.text-primary {
    background-image: -webkit-linear-gradient(45deg, #ef4444, #f59e0b);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hover\:text-primary:hover {
    background-image: -webkit-linear-gradient(45deg, #ef4444, #f59e0b);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.border-primary {
    border-image: linear-gradient(to left, #ef4444, #f59e0b) 10;
}

.hover\:border-primary:hover {
    border-image: linear-gradient(to left, #ef4444, #f59e0b) 10;
}

.bg-secondary {
    @apply bg-gradient-to-r from-purple-800 to-blue-700
}

.hover\:bg-secondary:hover {
    @apply bg-gradient-to-r from-purple-800 to-blue-700
}

.text-secondary {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hover\:text-secondary:hover {
    background-image: linear-gradient(to right, #7c3aed, #2563eb);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.border-secondary {
    border-image: linear-gradient(to right, #7c3aed, #2563eb);
}

.hover\:border-secondary:hover {
    border-image: linear-gradient(to right, #7c3aed, #2563eb);
}

.card {
    @apply shadow-lg border border-gray-600
}

.card-body {
    @apply p-2.5
}

.card-header {
    @apply bg-gray-100 shadow rounded-t-lg w-full p-2
}

.card-footer {
    @apply bg-gray-200 rounded-b-lg w-full p-2
}

.modal {
    @apply fixed backdrop-filter backdrop-blur-sm bg-gray-600 bg-opacity-40 h-screen w-screen overflow-hidden top-0 left-0 z-100 px-4
}

.modal-header {
    @apply bg-gray-50 shadow w-full p-2
}

.modal-footer {
    @apply bg-gray-100 w-full p-2
}

.modal-title {
    @apply text-xl ml-2 mt-1
}
